.container {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #efefef;
  max-width: 900px;
  margin-top: 100px;
  padding: 10px;
  background-color: #ffffff;
  padding: 15px;
}