.Footer {
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    font-family: "Comfortaa", cursive;
  }
  a {
    text-decoration: none;
    color: #d2407f;
    transition: 0.1s all ease-in;
  }
  a:hover {
    text-decoration: underline;
    color: #fc9700;
  }